.ajuda img {
  height: 30px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 25px;
  margin-top: 30px;
  margin-right: 30px;
}

.card-item {
  color: inherit;
  width: 257px;
  height: 111px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  padding: 25px 20px;
  transition: scale 0.3s, border-color 0.3s !important;
  text-decoration: none !important;
}

.card-item:hover {
  scale: 1.01;
  border-color: var(--accent-color);
  color: inherit !important;
}

.ajuda a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.3s;
}

.ajuda a:hover {
  color: var(--accent-color);
}
