.container {
  max-width: 1620px;
  margin: 0 auto;
}

.full-section {
  min-height: 105dvh;
  height: 1px; /* hack para height 100% funcionar */
  padding-top: 80px;
  padding-bottom: 80px;
}

.half-section {
  min-height: 50vh;
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-light {
  background-color: #e5e5e5;
}

.bg-light-gradient {
  background: linear-gradient(0deg, #d3d3d3 0%, #dddddd 100%);
}

.bg-dark {
  background-color: #444;
}

.bg-dark-gradient {
  background: linear-gradient(0deg, #0c0b17 0%, #0c0e1c 10%, #09254a 100%);
}

.display-contents {
  display: contents;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.gap-small {
  gap: 10px;
}

.gap-medium {
  gap: 20px;
}

.gap-large {
  gap: 40px;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.place-end {
  place-self: end;
}

.text-center {
  text-align: center;
}

.color-accent {
  color: var(--accent-color);
}
