.webvitals {
  display: grid;
  background: linear-gradient(180deg, #0c0b17 0%, #0c0e1c 10%, #09254a 100%);
  color: #fff;
  padding-top: 121px;
  padding-bottom: 121px;
}

.webvitals-top-content {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 75px 90px;
}

.webvitals-top-content > div > p {
  color: #1e71e3;
  font-size: 1.125rem;
}

.webvitals-top-content > div > h2 {
  font-size: 2.187rem;
  max-width: 30ch;
}

.webvitals-top-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.webvitals-top-content ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.webvitals-top-content ul li p {
  max-width: 65ch;
}

.webvitals-top-content img {
  height: 32px;
  width: 32px;
}

.webvitals-middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 170px;
}

.webvitals-features-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  gap: 40px;
}

.webvitals-feature-item {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.webvitals-feature-item > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.webvitals-feature-item img {
  width: 86px;
  height: 86px;
}

.webvitals-feature-item p {
  font-size: 0.875rem;
  line-height: 155%;
  max-width: 36ch;
}

.webvitals-bottom-content {
  margin-top: 80px;
}

.webvitals-bottom-content img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.webvitals-image-scroller {
  --padding-y: 30px;
  --animation-time: 30s;
  --image-count: 4;
  --image-height: 286px;
  --image-width: 543px;
  --negative-image-width: calc(var(--image-width) * -1);
  --container-length: calc(var(--image-width) * var(--image-count));
  --container-width: max(var(--container-length), 100%);

  height: calc(var(--image-height) + var(--padding-y));
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.webvitals-scroll-image {
  width: var(--image-width);
  height: var(--image-height);
  position: absolute;
  filter: grayscale(1);
  transition: filter 0.4s;

  animation-duration: var(--animation-time);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc(
    var(--animation-time) / var(--image-count) *
      (var(--image-count) - var(--image)) * -1
  );
}

.webvitals-scroll-image:hover {
  filter: grayscale(0);
}

.webvitals-scroll-image-left {
  left: var(--container-width);
  animation-name: scroll-left-animation;
}

.webvitals-scroll-image-right {
  right: var(--container-width);
  animation-name: scroll-right-animation;
}

@keyframes scroll-left-animation {
  to {
    left: var(--negative-image-width);
  }
}

@keyframes scroll-right-animation {
  to {
    right: var(--negative-image-width);
  }
}
