.footer {
  color: white;
  font-weight: 200;
}

.footer h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.footer a.button {
  margin-top: 30px;
}

.footer span.horizontal-separator {
  margin-top: 80px;
}

.footer-wrapper {
  background: linear-gradient(0deg, #0b1017 0%, #08244a 100%);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 50px 135px;
  padding-bottom: 25px;
}

.link-list {
  margin: 19px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 10px;
}

.link-list a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.link-list a:hover {
  color: var(--accent-color);
}

.footer-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.footer-socials a {
  width: 1.8rem;
  height: 1.8rem;
  transition: scale 0.3s;
}

.footer-socials a:hover {
  scale: 1.05;
}
